table.services { width: 100%; }
table.services td { text-align: center; }
table.services tr.names td { font-size: 130%; font-weight: bold; }
table.services tr.state td { padding-top: 1em; }
table.services tr.state td * { margin:0px auto; }

table.iplist { width: 100% }
table.iplist th, table.iplist td { padding:1em; width: 50% }  
table.iplist th {
	/*vertical-align: top;*/
	text-align: right;
	font-size:180%;
}

table.iplist td {
	font-size: 80%;
	color: #555
}
